/* .centerblock__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 51px;
  } */


  /* .filter__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
  }
   */
  .filter__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
  } 
  
  .filter__button:not(:last-child) {
    margin-right: 10px;
  } 

  /* .menu{
    visibility: visible;
    background: rgb(110, 110, 110);
    position: absolute;
    background: #313131;
    padding: 10px 20px;
    border-radius: 30px;
    top: 51px;
    width: 200px;
    left: -26px;
  } */

  /* .menu_hidden{
    visibility: hidden;
    position: absolute;
  } */

  /* .menu_block{
    position: relative;
  } */
  /* .count_block{
    position: absolute;
    visibility: visible;
    color: #ad61ff;
    right: -5px;
    bottom: 35px;
    width: 36px;
    height: 36px;
    background: #ad61ff;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 5px;
  } */
  /* .count_block_hidden{
    position: absolute;
    visibility: hidden;
  } */

  /* .list_element:hover{
    color: #ad61ff;
    transition: .3s all;
    cursor: pointer;
    text-decoration: underline;

  } */
  /* .list_element{
    font-size: 18px;
  } */
  /* .list{
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    height: 200px;
    padding: 10px;
  } */

  /* .list::-webkit-scrollbar {
    width: 5px;
    background-color: #f9f9fd;
} */
/* .list::-webkit-scrollbar-thumb {
  background-color: #535353;
} */